# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Frederik\Desktop\Innovation og ny teknologi\Obligatioriske opgaver\Opgave 2 - Programmerings opgave\Softwareprogram\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
